// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px0;
:root{
  --project-card-glow-primary:#89ff00;
  --project-card-glow-secondary:#00bcd4;
  --project-card-content:#0946ca;
  --project-card-background:#060c21;
  --contact-link-bg-primary:rgba(255, 255, 255, 0.911);
  --contact-link-bg-secondary:rgba(255, 255, 255, 0.911);
  --contact-link-shadow-primary:rgba(116, 227, 235, 0.959);
  --navbar-color:#56eefd;
  --navbar-bg:#111;
  --sdgcard-bg:#06508b;
}
@layer base {
  @font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans-Regular'), url('~/assets/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
  }

  @font-face {
    font-family: 'Libre Baskerville';
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url('~/assets/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
  }

  @font-face {
    font-family: 'Raleway';
    src: local('Raleway'), local('Raleway-VariableFont'), url('~/assets/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block: 0;
  margin-inline: 0;
}

body {
  background-color: #111;
  scroll-behavior: smooth;
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
}
