// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px0;

@font-face {
  font-family: 'Lato';
  src: url('../assets/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url('../assets/NotoSerifKR-SemiBold.otf');
}

$body-font-family: Roboto !important;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block: 0;
}
