// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
$body-font-family: Roboto !important;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block: 0;
}
