/* @font-face {
    font-family: "Lato-Regular";
    src: local("Lato-Regular"),
     url('../assets/Lato-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
     url(~assets\OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Noto Serif KR";
    src: local("Noto Serif KR"),
     url(~assets\NotoSerifKR-SemiBold.ttf) format("truetype");
} */
